@import './../../styles/variables';

.Sidebar {
    float: left;
    width: 30%;
    height: 100vh;
    background-color: $background-header-color;
    color: $active-text-color;
}

.ActionBar {
    margin: 30px;
    list-style: none;
}

.Sidebar li {
    margin: 30px;
    cursor: pointer;
}

.SidebarHeader {
    margin: 30px;
}