.ToDoItem {
  background-color: #C0C0C0;
  text-align: justify;
  display: flex;
}

.TaskTitle {
  width: 300px;
  color: #0094FF;
  font-style: italic;
  font-size: 20px;
  padding: 4px 16px;
  text-align: justify;
}

