@import './../../styles/variables';

.ToDoList {
    padding: 5px;
    display: inline;
}

.ListContainer {
    padding: 5px;
    list-style-type: none;
    display: inline;
    overflow: auto;
    height: 60%;
}

.ListContainer > li {
    margin: 6px;
}

.LoadingState {
    color: $active-text-color;
    position: relative;
    top: 50%;
    left: 50%
}

.NoItems {
    color: $active-text-color;
    position: relative;
    top: 60%;
    left: 50%
}