@import './../../styles/variables';

.InputText {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    margin: 2px;
}

.SubmitButton {
    background-color: $blue;
    border-radius: 8px;
    border-color: $blueDark;
    border-width: 2px;
    padding: 4px 16px;
    margin-left: 16px;
    font-size: 16px;
    color: $active-text-color;
    font-style: italic;
}

.InputTextLabel {
    color:  $active-text-color;
    font-style: italic;
    font-size: 16px;
    padding: 4px 16px;
}

.InputTextElem {
    color: $active-text-color;
    font-style: italic;
    font-size: 16px;
    padding: 4px 16px;
    border-radius: 8px;
    border-color: $item-border-color;
    background-color: $item-background;
}